html {
  scroll-snap-type: y mandatory;
}
.app {
  height: 100%;
  background-color: black;
  display: grid;
  place-items: center;
}

.app_reels {
  position: relative;
  height: 800px;
  border-radius: 25px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
/* Hide the scrollbar for Chrome ,safari and opera */
.app_reels::-webkit-scrollbar {
  display: none;
}

.app_reels {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*Firefox */
}
